<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <title>Rate My Phone</title>
  </head>
  <body>

    <div class="ui menu">
  <div class="header item">
    <i class="fa fa-mobile"></i> Phone Ratings</div>
  <a class="item" href="/phones">
    Phones
  </a>
  <a class="item">
    About Us
  </a>
  <a class="item">
    Locations
  </a>
</div>
